<div class="columns is-mobile is-centered mt-5">
  <div class="column is-half">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(@tweet.user.email, size: 64, alt: @tweet.user.name) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <strong><%= @tweet.user.name %></strong>
            <small>@<%= @tweet.user.username %></small> -
            <small class="is-size-7"><%= @tweet.created_at %></small>
            <p> <%= @tweet.tweet %> </p>
          </div>
          <% if user_signed_in? %>
          <nav class="level">
            <div class="level-left is-mobile">
              <%= link_to @tweet, class: "level-item" do %>
                <span class="icon"> <i class="fa fa-link" aria-hidden="true"></i> </span>
              <% end %>
              <%= link_to @tweet, method: :delete, data: { confirm: "Are you sure?" } do %>
                <span class="icon"> <i class="fa fa-trash-o" aria-hidden></i> </span>
              <% end %>
            </div>
          </nav>
        <% end %>
        </div>
      </article>
    </div>
  </div>
</div>

<%= link_to 'Back', tweets_path, class: "button is-info ml-5" %>
